<%= form_for(:sublogin) do |f| %>
  
  <%= f.label :type %><br />
  <b>Are you a 'parent' or a 'child'</b>
  <div class="field"><%= f.text_field(:type) %> <br /></div>
  <br>
  
  <%= f.label :child_id %><br />
  <div class="field"><%= f.collection_select(:child_id, current_parent.children, :id, :name, {:include_blank => true}) %> <br /></div>
  <br>
  
  <%= f.label :pin %><br />
  <div class="field"><%= f.text_field(:pin) %> <br /></div>
  
  
     
     
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
