<center>
<%= form_for(:sublogin) do |f| %>
</br>
</br>
  <h3 style="font-weight: bold;">Current PIN</h3>
  <div class="field"><%= f.text_field(:pin) %> <br /></div>
  
  </br>
  </br>
  </br>
  <h3 style="font-weight: bold;">New PIN</h3>
  <div class="field"><%= f.text_field(:newpin) %> <br /></div>
  </br>
  <h3 style="font-weight: bold;">New PIN Confirmation</h3>
  <div class="field"><%= f.text_field(:newpin2) %> <br /></div>
  
     
     </br>
  <div class="actions">
    <%= f.submit "Change my PIN" %>
  </div>
<% end %>

</center>