<%= form_for(:sublogin) do |f| %>

  <% if params[:type] == nil %>
    <%= f.label :type %><br />
    <b>Are you a 'parent' or a 'child'</b>
  <% elsif params[:type] == 'parent' %>
    <h2>Welcome parent, enter your pin<h2>
  <% elsif params[:type] == 'child' and (Child.find_by_id(params[:id]).parent_id == current_parent.id)%>
    <h2>Welcome, <%= Child.find_by_id(params[:id]).name %>. Enter your pin</h2>
  <% else %>
    <% throw "Invalid account type in URL or attempting to access a child not on this account" %>
  <% end %>
  
  
  <div class="field"><%= f.text_field :type, :value => params[:type], :hidden => (params[:type] != nil)%> <br /></div>
  <br>
  
  <% if params[:type] != "parent"%>
    <%= if params[:id] == nil
    f.label :child_id 
    end
    %>

    <div class="field"><%= f.collection_select :child_id, current_parent.children, :id, :name, {:include_blank => true, :selected => params[:id]}, :hidden => params[:id] != nil %> <br /></div>
    <br>
  <% end %>
  
  <%= f.label :pin %><br />
  <div class="field"><%= f.text_field(:pin) %> <br /></div>
  
  
     
     
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
