<% if parent_signed_in? %>

<% if current_parent.id == @child.parent_id %>
<% trySubLogin("child", @child.id, "", false) %>
<h1>Welcome <%= @child.name %>!<br></h1>

<table id="separated">
<tbody>
      <tr>
        <td><font size="4"><%= link_to 'Return Home', '/default/index' %></td>
        <td><font size="4"><%= link_to 'Reward Store', rewards_store_path %></td>
        <td><font size="4">Extra Chores</td>
      </tr>
  </tbody>
</table>

</br>
<h2>Current Balance: <img src="http://opengameart.org/sites/default/files/styles/medium/public/Coin_0.png" alt="" height=25width=25></img>x <%= @child.balance %></h2>

</br>

<h2>Your Assigned Chores...</h2>
<h3>Click to Complete</h3>

<% @chores = Chore.where(:child_id => @child.id).each do |chore| %>

  <% if chore.completed == false %>
<table id="chores">
<tbody>
      <tr>
        <td align="left"><font size="4" color=white><%= link_to chore.name, {:controller => "chores", :action => "complete", :id => chore.id, :child => @child.id } %></td>
        <td align="right"><font color=white>Due: <%= chore.due_date ? chore.due_date.strftime("%A") : "None" %></td>
      </tr>
      <tr>
        <td align="left"><font size='2' color=white><%= chore.description %></td>
        <td align="right"><font size="4" color=white><img src="http://opengameart.org/sites/default/files/styles/medium/public/Coin_0.png" alt="" height=25width=25></img>x <%= chore.coins %></td>
      </tr>
    <% end %>  
      
    <% end %>
  </tbody>
</table>

<% else %>

<h2> Wtf not your kid bro</h2>

<% end %>

<% else %>
<center>
You must be logged in to see this page. <br />
<%= link_to "Log in", '/parents/sign_in/' %><br />
</center>

<% end %>