<% if parent_signed_in? %>

<% if current_parent.id == @child.parent_id %>

<h2>Welcome <%= @child.name %> !</h2


<h3> Your Current Chores </h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
    <!--Each time it goes through and creates the three table rows for each child.
      <tr>
        <td><b> Chore <%#= child.name%></b> </td>
        
        <td> &nbsp; <%= link_to 'View', child_path(child) %> &nbsp;-</td>
        <td> &nbsp; <%= link_to 'Complete', edit_child_path(child) %> &nbsp;-</td>
        <td> &nbsp; <%= link_to 'Trade', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3> Completed Chores </h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.childrenOf(current_parent.id).each do |child| %>
      <tr>
        <td><b> Chore <%#= child.name%></b> </td>
        
        <td> &nbsp; <%= link_to 'View', child_path(child) %> &nbsp;-</td>
        <td> &nbsp; <%= link_to 'Complete', edit_child_path(child) %> &nbsp;-</td>
        <td> &nbsp; <%= link_to 'Trade', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', '/default/index' %>

<% else %>

<h2> Wtf not your kid bro</h2>

<% end %>

<% else %>
<center>
You must be logged in to see this page. <br />
<%= link_to "Log in", '/parents/sign_in/' %><br />

</center>

<% end %>