  <!--<div>-->
  <!--  <iframe src="tab.html" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >-->
  <!--  </iframe>-->
  <!--</div>-->

 
 
 <% if parent_signed_in? %>
         <% if current_parent.id == @child.parent_id %>
         <% trySubLogin("child", @child.id, "", false) %>
         <h1>Welcome <%= @child.name %>!<br></h1>
         <table id="separated">
            <tbody>
               <tr>
                  <td><font size="4"><%= link_to 'Return Home', '/default/index' %></td>
                  <td><font size="4"><%= link_to 'Reward Store', rewards_store_path %></td>
                  <td><font size="4">Extra Chores</td>
               </tr>
            </tbody>
         </table>
         </br>
         <h2>Current Balance: <img src="http://opengameart.org/sites/default/files/styles/medium/public/Coin_0.png" alt="" height=25 width=25></img>x <%= @child.balance %></h2>
         </br>
         <h2>Your Assigned Chores...</h2>
         <h3>Click to Complete</h3>
         <% @chores = Chore.where(:child_id => @child.id).each do |chore| %>
         <% if chore.completed == false %>
         <table id="chores">
            <tbody>
               <tr>
                  <td align="left"><font size="4" color=white><%= link_to chore.name, {:controller => "chores", :action => "complete", :id => chore.id, :child => @child.id } %></td>
                  <td align="right"><font color=white>Due: <%= chore.due_date ? chore.due_date.strftime("%A") : "None" %></td>
               </tr>
               <tr>
                  <td align="left"><font size='2' color=white><%= chore.description %></td>
                  <!--<td align="right"><font size="4" color=white><img src="http://opengameart.org/sites/default/files/styles/medium/public/Coin_0.png" alt="" height=25width=25></img>x <%= chore.coins %></td>-->
               </tr>
               <% end %>  
               <% end %>
            </tbody>
         </table>
         <% else %>
         <h2> Wtf not your kid bro</h2>
         <% end %>
         <% else %>
         <center>
            You must be logged in to see this page. <br />
            <%= link_to "Log in", '/parents/sign_in/' %><br />
         </center>
         <% end %>
         
<div class="tab">
   <ul class="tabs">
      <li><a href="#">Old View</a></li>
      <!--<li><a href="#">New View</a></li>-->
      <li><a href="#">History</a></li>
      <li><a href="#">Dashboard (Beta)</a></li>
   </ul>
   <!-- / tabs -->
   <div class="tab_content">
      <div class="tabs_item">
        

      </div>
      <!-- / tabs_item -->
      <!--<div class="tabs_item">-->
      <!--   <section class="wrapper">-->
      <!--      <div class="row card_row">-->
      <!--         <h1 class="column h6 color_label">Some Category</h1>-->
      <!--         <div class="column half_whole">-->
      <!--            <article class="card box_panel">-->
      <!--               <label class="card_label">-->
      <!--               Dashboard Item-->
      <!--               </label>-->
      <!--               <section class="card_body">-->
      <!--                  <div class="graph">-->
      <!--                     <div class="knob_data">89<span class="txt_smaller">%</span></div>-->
      <!--                     <svg class="graph_media" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.4 266.4">-->
      <!--                        <g>-->
      <!--                           <path class="st0" d="M130.5,32.2V0c-53.3,1.1-99,33.5-119.3,79.6l30,11.8C56.7,57.3,90.7,33.3,130.5,32.2z"/>-->
      <!--                           <path class="st1" d="M133.2,0c-0.9,0-1.8,0-2.7,0v32.2c0.9,0,1.8,0,2.7,0c55.8,0,101,45.2,101,101s-45.2,101-101,101-->
      <!--                              s-101-45.2-101-101c0-14.9,3.2-29,9-41.7l-30-11.8C4,96,0,114.1,0,133.2c0,73.6,59.6,133.2,133.2,133.2s133.2-59.6,133.2-133.2-->
      <!--                              S206.7,0,133.2,0z"/>-->
      <!--                        </g>-->
      <!--                     </svg>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--               <section class="card_more">-->
      <!--                  <div class="color_label card_more_content card_division">-->
      <!--                     Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
      <!--                  </div>-->
      <!--                  <a class="icon icon_after card_more_button button_soft"></a>-->
      <!--               </section>-->
      <!--               <section class="stats stats_row">-->
      <!--                  <div class="stats_item half_whole small_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Goal-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_success">-->
      <!--                           85<span class="txt_smaller">%</span>-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Red Line-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_error">-->
      <!--                           80<span class="txt_smaller">.2%</span>-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--            </article>-->
      <!--         </div>-->
      <!--         <div class="column half_whole">-->
      <!--            <article class="card box_panel">-->
      <!--               <label class="card_label">-->
      <!--               Dashboard Item-->
      <!--               </label>-->
      <!--               <section class="card_body">-->
      <!--                  <div class="graph">-->
      <!--                     <div class="txt_warn graph_data txt_serif">25,000</div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--               <section class="card_more">-->
      <!--                  <div class="color_label card_more_content card_division">-->
      <!--                     Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
      <!--                  </div>-->
      <!--                  <a class="icon icon_after card_more_button button_soft"></a>-->
      <!--               </section>-->
      <!--               <section class="stats stats_row">-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Goal-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_success">-->
      <!--                           29,000-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Red Line-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_error">-->
      <!--                           22,000-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--            </article>-->
      <!--         </div>-->
      <!--         <h1 class="column h6 color_label">Another Category</h1>-->
      <!--         <div class="column half_whole">-->
      <!--            <article class="card box_panel">-->
      <!--               <label class="card_label">-->
      <!--               Dashboard Item-->
      <!--               </label>-->
      <!--               <section class="card_body">-->
      <!--                  <div class="graph">-->
      <!--                     <div class="txt_success graph_data txt_serif">2</div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--               <section class="card_more">-->
      <!--                  <div class="color_label card_more_content card_division">-->
      <!--                     Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
      <!--                  </div>-->
      <!--                  <a class="icon icon_after card_more_button button_soft"></a>-->
      <!--               </section>-->
      <!--               <section class="stats stats_row">-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Goal-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_success">-->
      <!--                           &lt;4-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Red Line-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_error">-->
      <!--                           &gt;6-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--            </article>-->
      <!--         </div>-->
      <!--         <div class="column half_whole">-->
      <!--            <article class="card box_panel">-->
      <!--               <label class="card_label">-->
      <!--               Dashboard Item-->
      <!--               </label>-->
      <!--               <section class="card_body">-->
      <!--                  <div class="graph">-->
      <!--                     <div class="txt_error graph_data txt_serif"><sup class="txt_smaller">$</sup> 7,632</div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--               <section class="card_more">-->
      <!--                  <div class="color_label card_more_content card_division">-->
      <!--                     Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
      <!--                  </div>-->
      <!--                  <a class="icon icon_after card_more_button button_soft"></a>-->
      <!--               </section>-->
      <!--               <section class="stats stats_row">-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Goal-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_success">-->
      <!--                           $9,000-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--                  <div class="stats_item half_whole">-->
      <!--                     <div class="txt_faded">-->
      <!--                        <label class="txt_label space_n_b">-->
      <!--                        Red Line-->
      <!--                        </label>-->
      <!--                        <div class="txt_serif stats_item_number txt_error">-->
      <!--                           $7,750-->
      <!--                        </div>-->
      <!--                     </div>-->
      <!--                  </div>-->
      <!--               </section>-->
      <!--            </article>-->
      <!--         </div>-->
      <!--      </div>-->
      <!--   </section>-->
      <!--</div>-->
      <!-- / tabs_item -->
      <div class="tabs_item">

         <% if parent_signed_in? %>
        	<!--<button type="button" class="btn btn-warning col-md-offset-3"><%= link_to "New Chore", new_chore_path %></button>-->
        	<div class="col-md-8 col-md-offset-3">
        		<% @chores.each do |chore| %>
        			<div class="index-wrapper">
        				<% if chore.completed? %>
        					<div class="row chore">
        						<div class="col-md-8">
        							<h2 style="text-align: left;" class="item-title"><%= link_to chore.name, chore %></h2>
        							<p class="item-sub-title item-desc"><%= chore.description %></p>
        						</div>
        							<div class="col-md-8">
							          <p><i class="fa fa-star fa-lg" style="color:gold;"></i> <%= chore.coins %> redeemed</p>
					          	</div>
        					</div>
        				<% else %>	
        				<% end %>
        			</div>
        		<!--<% end %>	-->
        	</div>
        <% else %>
        	<%= render 'default/home' %>
        <% end %>
      
      
      
      <!-- / tabs_item -->
   </div>
   <!-- / tab_content -->
   
   <div class="tabs_item">
    
    <% if parent_signed_in? %>
	<button type="button" class="btn btn-warning"><%= link_to "New Chore", new_chore_path %></button>
	<div class="col-md-6 col-md-offset-3">
		<% @chores.each do |chore| %>
			<div class="index-wrapper">
				<% if chore.completed? %>
					<div class="row chore">
						<div class="col-md-8">
							<h2 style="opacity: 0.5;text-align: left;" class="item-title"><strike><%= link_to chore.name, chore %></strike></h2>
							<p style="opacity: 0.5;" class="item-sub-title item-desc"><%= chore.description %></p>
						</div>

						<div class="col-md-2">
							<p><%= link_to chore, method: :delete, data: { confirm: "Are you sure?" } do %></p>
								<i class="fa fa-trash fa-lg"></i>
							<% end %>
						</div>	
					</div>
				<% else %>	
					
				<% end %>
			</div>

		<% end %>	
	</div>
<% else %>
	<%= render 'default/home' %>
<% end %>
    
    
    
    
    
        
      <!--<legend>-->
      <!--   <%= @child.name %>-->
         <%#if current_parent.id == @child.parent_id%>
            
      <!--               <% if current_parent.id == @child.parent_id %>-->
                        
      <!--                  <%= Child.childrenOf(current_parent.id).size %>-->
      <!--                  <%= Chore.count(:child_id) %>-->
      <!--                  <%= Chore.count(current_parent.id) %>-->
      <!--                  <%= Chore.calculate(:count, :all) %>-->
                        
                        
                        
      <!--               <% else %>-->
      <!--               <% end %>-->
                     
      <!--               <%= current_parent.children %>-->
                     <%#= Chore.count(current_parent.children) %>
         <!--<span class='text-muted'><%= @child.chores%></span>-->
      <!--</legend>-->
   

      <%#= column_chart Chore.count(:complete) %>


   </div>
   
</div>
<!-- / tab -->