<% if Child.childrenOf(current_parent.id).size <= 0 %>



<div class="jumbotron">
    <center>
  <h1>Let's get started!</h1>
  <p>Let's start by Adding a Child to your family...</p>
  <p>Your pin is 0000 by default</p>
  <p>Children pins are blank by default</p>
  <br />
  <p><a class="btn btn-primary btn-lg" href='/children/new' role="button">Add Child</a></p>
  </center>
  <br />
  
<!--<%= controller_name %>-->
</div>

<% else %>

<% cookies.delete :logged %>

<div class="jumbotron">
    <center>
  <h1>YOU GOT KIDS!</h1>
  <p>you got kids</p>
  <!--<br />-->
  <!--<%= current_parent.id %>-->
  
  <% @childs = Child.childrenOf(current_parent.id) %>
  <ul>
    <li>
      <table>
        <tr><th><%= link_to current_parent.display_avatar_standard, approval_index_path %></th></tr>
        <tr><td><%= link_to current_parent.email, approval_index_path %></td></tr>
      </table>
    </li>
  <% @childs.each do |child| %>
  <li>
    <table>
      <tr><th><%= link_to(image_tag(child.avatar.standard.url), child_path(child.id)) %></th></tr>
      <tr><td><%= link_to child.name, child_path(child.id) %></td></tr>
    </table>
  </li>
  <% end %>
  </ul>

  </center>
  <br />
  
  
<!--<%= controller_name %>-->
</div>
<% end %>

<!--<%= controller_name.include?('default') %>-->
