<%= form_for(reward) do |f| %>
  <% if reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><%= f.hidden_field(:parent_id, :value => current_parent.id) %></div>
  
  <%= f.label :name %><br />
     <div class="field"><%= f.text_field(:name) %> <br /></div
     
  <%= f.label :cost %><br />
     <div class="field"><%= f.text_field(:cost) %> <br /></div>
     
  <%= f.label :child_id %><br />
      <div class="field"><%= f.collection_select(:child_id, current_parent.children, :id, :name, {:include_blank => true}) %> <br /></div>
      
  <%= f.label :auto_approve %><br />
  <div class="field"><%= f.check_box(:auto_approve) %> <br /></div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
