
<h1>Welcome to the Rewards Store, <%= @child_buyer.name %></h1>
<h2>Current Balance: <img src="http://opengameart.org/sites/default/files/styles/medium/public/Coin_0.png" alt="" height=25width=25></img>x <%= @child.balance %></h2>

</br>
<table style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Auto Approve?</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
    
  <% if reward.redeemed == false %>
      <tr>
        <td><%= reward.name %></td>
        <td><%= reward.cost %></td>
        <td><%= if reward.auto_approve?
                  "Yes" 
                else 
                  "No" 
                end %></td>
        <td><%= if reward.auto_approve?
                  link_to 'Redeem',{:controller => "rewards", :action => "store"},data: { confirm: "After purchase your balance will be: #{@child.balance - reward.cost}" } 
                else
                  link_to 'Submit',{:controller => "rewards", :action => "redeem", :id => reward.id, :child => @child.id},data: { confirm: "After purchase your balance will be: #{@child.balance - reward.cost}" } 
                end%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>