<p id="notice"><%= notice %></p>

<h1>Approval Inbox</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th>Unread?</th>
            <th>Type</th>
            <th>Name</th>
            <th>Link</th>
        </tr>
    </thead>
    
    
    <tbody>
        <% @notifications.each do |notif| %>
        <tr>
            <td><%= notif.unread %></td>
            <td><%= notif.type %></td>
            <td>
                <% if notif.type = "Chore" %>
                <%= Chore.find(notif.object_id).name %>
                <% else %>
                <%= Reward.find(notif.object_id).name %>
                <% end %>
            </td>
            <td>
                <% if notif.type = "Chore" %>
                <%= link_to '#' %> <%# Replace with Chore Approval Page Path %>
                <% else %>
                <%= link_to '#' %> <%# Replace with Reward Approval Page Path %>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>