<div class="chores show">
    <h2><%= @chore.name %></h2>
    
    <table>
        <tr>
            <th>Name</th>
            <th><%= @chore.name %></th>
        </tr>
        <tr>
            <th>Description</th>
            <th><%= @chore.description %></th>
        </tr>
        <tr>
            <th>Coins</th>
            <th><%= @chore.coins %></th>
        </tr>
        <tr>
            <th>Needs Parent Approval?</th>
            <th><%= @chore.needs_approval ? 'Yes' : 'No' %></th>
        </tr>
        <tr>
            <th>Repeat?</th>
            <th><%= @chore.repeat_type %></th>
        </tr>
        <% if @chore.repeat_type == "Weekly" %>
        <tr>
            <th>Repeat Day of the Week</th>
            <th>
            <% case @chore.repeat_data
                when 1 %>
                <%= "Sunday" %>
                <% when 2 %>
                <%= "Monday" %>
                <% when 3 %>
                <%= "Tuesday" %>
                <% when 4 %>
                <%= "Wednesday" %>
                <% when 5 %>
                <%= "Thursday" %>
                <% when 6 %>
                <%= "Friday" %>
                <% when 7 %>
                <%= "Saturday" %>
                <% else %>
                <%= "Not a valid day of the week" %>
                <% end %>
            </th>
        </tr>
        <% elsif @chore.repeat_type == "Monthly" %>
        <tr>
            <th>Repeat Day of the Month</th>
            <th><%= @chore.repeat_data %></th>
        </tr>
        <% end %>
        <tr>
            <th>Due Date</th>
            <th><%= @chore.due_date ? @chore.due_date.to_formatted_s(:long_ordinal) : 'None' %></th>
        </tr>
        <tr>
            <th>Child Name</th>
            <th><%= @chore.child_id ? Child.find(@chore.child_id).name : "Unassigned" %></th>
        </tr>
        <tr>
            <th>Completed?</th>
            <th><%= @chore.completed ? 'Yes' : 'No' %></th>
        </tr>
    </table>
</div>

<%= link_to 'Edit', edit_chore_path(@chore) %> |
<%= link_to 'Back', :back %>
