<div class="col-md-6 col-md-offset-3">
	<h2><%= @chore.name %></h2>
	<p><%= @chore.description %></p>

	<%= link_to "Edit", edit_chore_path(@chore) %>
	<%= link_to "Delete", chore_path(@chore), method: :delete, data: { confirm: "Are you sure?" } %>
	<%= link_to "Back", chores_path %>
</div>