<!DOCTYPE html>
<html>
<head>
  <title>ChoreTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="true">
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle nav igation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/default/index">ChoreTracker</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
       <% user = getSubLoggedUser() %>
      
       
        <%if user and user[:type] == "parent" %>
        
        <% if controller_name.include?('default') %><li class="active"><% else %><li><% end %>
       <a href="/default/index">Home <span class="sr-only">(current)</span></a></li>
        
        
          <% if controller_name.include?('child') %><li class="active"><% else %><li><% end %>
          <a href="/children">Children <span class="sr-only">(current)</span></a></li>
       
        
          <% if controller_name.include?('chore') %><li class="active"><% else %><li><% end %>
          <a href="/chores">Chores <span class="sr-only">(current)</span></a></li>
        
        
          <% if controller_name.include?('reward') %><li class="active"><% else %><li><% end %>
          <a href="/rewards">Rewards <span class="sr-only">(current)</span></a></li>
          
          <% if controller_name.include?('approval') %><li class="active"><% else %><li><% end %>
          <a href="/approval">Approval <span class="sr-only">(current)</span></a></li>
          
          
          
        
        <% elsif user and user[:type] == "child" %>
        
        <% url = "/children/" + user[:id].to_s %>
        
        <% if controller_name.include?('default') %><li class="active"><% else %><li><% end %>
       <a href=<%= url %>>Home <span class="sr-only">(current)</span></a></li>
       
          <% if controller_name.include?('store') %><li class="active"><% else %><li><% end %>
          <a href="/rewards/store">Store <span class="sr-only">(current)</span></a></li>
        
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <%if parent_signed_in? %>
        
          <!--<li><a href="#">Link</a></li> -->
          <% if controller_name.include?('edit') %>
       <li class="active">
             <% else %>
        
       <% end %>
       
       <% if controller_name.include?('registrations') %><li class="active"><% else %><li><% end %>
        
        <!--<a href="/parents/edit">Account <span class="sr-only">(current)</span></a></li>  -->
          <% if user %>
          <% if controller_name.include?('notifications') %><li class="active"><% else %><li><% end %>
          <a href="/notifications"><i class="fa fa-bell" aria-hidden="true"></i> <span class="sr-only">(current)</span></a></li>
          <% end %>
          <li>
          <a href="/parents/edit"><i class="fa fa-cogs" aria-hidden="true"></i> <span class="sr-only">(current)</span></a></li>
        
          
          <% if !user %>
          <li><%= link_to "Log out", destroy_parent_session_path, data: { confirm: "Are you sure want to log out of ChoreTracker?", method: :delete} %>  </li>
          <% else %>
           <li><%= link_to "Log out", "/sublogin/logout" %></li>
          <% end %>
          
          <% else %>
          
          
          <% if controller_name.include?('registrations') %><li class="active"><% else %><li><% end %>
          <a href="/parents/sign_up">Sign Up <span class="sr-only">(current)</span></a></li>
          
          <% if controller_name.include?('sessions') %><li class="active"><% else %><li><% end %>
          <a href="/parents/sign_in">Login <span class="sr-only">(current)</span></a></li>
        
          <% end %>
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<center>
<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</center>

<div class="container">
 <!--<#% flash.each do |key, value| %>-->
 <!--  <div class = " <#% flash_class(key) %>">-->
     
 <!--    <#%= value %>-->
 <!--    </div>-->
 <!--<#% end %>-->
 <%= yield %>

</div>
</body>
</html>